/* Obszar  *************************************************************** */

main {
	float: left;
	width: 930px;
	background-color: #FFF;
	font-size: 14px;
	text-align: left;
	padding: 25px;
	text-indent: 30px;
	font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
}

main h2{
	margin-top: 30px;
	border-top: solid 1px #ececec;
	padding-top: 10px;
	font-size: 24px;
}

main h3{
	font-size: 16px;
}

main ul{
	list-style-type: square;
	line-height: 150%;
	text-indent: 0px;
	line-height: 20px;
}

canvas {
	border: solid 1px #ececec;
}

a , input{
	cursor: pointer;
}

section.content{
	width: 680px;
	float: left;
	text-align: justify;
}

section.content article{
	border-top: solid 1px #ececec;
}

section.content header span{
	font-weight: bold;
	font-style: italic;
}

section.content img{
	display: block;
	margin: 0 auto;
}

section.content table{
	width: 400px;
	background-color: #ececec;
	table-layout: auto;	
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

section.content td{
	padding: 5px;
}

section.content table tr:first-of-type {
    color: #e0d8cb;
    background: #474644
}
	
section.content table tr:nth-child(even) {
    background-color: #9c9c9c;
}

section.content audio{
	width: 100%;
}

section.content video{
	width: 100%;
}

#code{
	color: #2e5a88;
	background-color: #ececec;
	border-left: solid 2px #9c9c9c;
	font-family: Consolas;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}

#code p{
	margin: 0px;
	padding-left: 0px;
}

#code p span{
	font-weight: bold;
	color: #9c9c9c;
}

#description{
	color: #464646;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

#description span{
	color: #222222;
	font-weight: bold;
}

#description canvas{
	margin-left: 20px;
}

#limit{
	height: 1px;
	width: 400px;
	border-top: solid 1px #ececec;
	padding-bottom: 20px;
	margin: 0 auto;
}

#regulations{
	background: #ececec;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	padding: 5px;
	overflow: auto;
	font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
	font-size: 10px;
	text-align: center;
	padding-right: 20px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

article.register #username{
	width: 400px;
}

article.register{
	color: #474644;
	font-size: 13px;
	text-indent: 0px;
}
article.register #left{
	width: 300px;
	float: left;
}

article.register #right{
	width: 300px;
	float: right;
}

article.register input{
	display: block;
	color: gray;
	padding: 0xp;
	width: 160px; 
	border: 2px solid #ececec;
	font-size: 12px;
	text-indent: 5px;
	transition-duration: 1s;
	-webkit-transition-duration:1s;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	cursor: text;
	outline: none;
}

article.register label{
	color: #474644;
	font-size: 13px;
	text-indent: 0px;
}

article.register input[type=radio], article.register input[type=checkbox] {  
    display: inline; 
	width: 13px;
	height: 15px;
	cursor: auto;
}  

article.register fieldset {
	border: 2px solid #ececec;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	padding: 20px;
}

#regulations::-webkit-scrollbar{
	width:16px;
	background-color:#ececec;
} 

#regulations::-webkit-scrollbar-thumb{
	background-color: #9c9c9c;
	border-radius:10px;
}

#regulations::-webkit-scrollbar-thumb:hover{
	background-color: gray;
	border:1px solid #333333;
}

#regulations::-webkit-scrollbar-thumb:active{
	background-color:#474644;
	border:1px solid #333333;
} 

article.register  input[type="submit"] {
	color: gray;
	width: 90px;
	height: 24px;
	font-weight: bold;
	font-size: 11px;
	display: block;
	background: #ededed;
	border: solid 1px #ccc;
	float: right;
	cursor: pointer;
}

