html, body {
	background-image: url("../images/background.jpg");
	background-repeat: repeat;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial;
}

/* Nagłówek  *************************************************************** */

header h1{
	margin: 0px;
	height: 120px;
	padding-top: 30px;
	font-size: 32px;
	text-align: center;
	color: #FFF;
    text-shadow: 2px 2px 2px #000;
	background: -webkit-linear-gradient(#577a9f, #00334a); 
	background: -o-linear-gradient(#577a9f, #00334a); 
	background: -moz-linear-gradient(#577a9f, #00334a);
	background: linear-gradient(#577a9f, #00334a); 
}

header h1 p{
	margin: 0px;
}

/* Stopka  *************************************************************** */

footer {
	float: left;
	width: 980px;
	height: 20px;
	padding-top: 5px;
	background-color: #577a9f;
	font-size: 10px;
	text-align: center;
	color: #FFF;
}

#container {
	width: 980px;
	margin: 0 auto;
}