/* Pasek menu *************************************************************** */
nav {
	width: 980px;
	font-size:12px;
    font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
    font-weight: bold;
    height:25px;
    line-height:25px;
    text-align:center;
}

nav ol {
    list-style-type:none;
    padding:0;
    margin:0;
    position: relative;
    z-index: 2;
}

nav ol a {
    display:block;
    text-decoration:none;
    color:#222222;
    padding:0 5px;
}

nav ol  li {
	float:left;
	width:196px;
	background-color:#FFF;
	height:25px;
	border-bottom: solid 1px #ececec;
}

nav ol  li:first-child {
	margin-left:0;
}

nav ol  li:hover {
	transition: all 0.9s;
	background-color:#FFF;
}

nav ol  li:hover  a {
	color:#222222;
}

nav ol  li:hover  ul {
	display:block;
}

/* ------------------------CZESC-ROZWIJANA-MENU------------------------ */

nav ol  li  ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
}

nav ol  li  ul  li {
	position:relative;
	background-color:#FFF;
	border-top: solid 1px #ececec;
}

nav ol  li  ul  li  a {
	border-top:0px solid #222222;
}

nav ol  li  ul  li:hover {
	transition: all 0.9s;
	background-color:#ececec;
}

nav ol  li  ul  li:hover > a {
	color:#222222;
}