/* ---- sidebar -------------------------------------------------*/
section.sidebar{
	float: right;
	width: 240px;
	height: 840px;
	padding-left: 10px;
	font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
}

section.sidebar h2{
	margin-top: 30px;
	border-top: solid 1px #ececec;
	padding-top: 20px;
	font-size: 14px;
	color: #474644;
}

section.sidebar input{
	outline: none;
}

section.sidebar input[type=search] {

	font-family: inherit;
	font-size: 100%;
	background: #ededed url(../images/search.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 0px;
	cursor: text;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

section.sidebar input[type=search]:focus {
	background-color: #FFF;
	border-color: #ececec;
	width: 180px;
}

section.sidebar video{
	width: 240px;
	margin: 0px;
}

section.sidebar a{
	padding-left: 24px;
	background-repeat: no-repeat;
	text-decoration: none;
	font-family: Consolas, "Courier New",sans-serif;
	font-weight: bold;
	color: #9c9c9c;
}

section.sidebar a:hover{
	color: #474644;
}

section.sidebar a[href^="http://www.pk.edu.pl"] {
	background-image: url(../images/pk_logo.png);
}

section.sidebar a[href^="http://www.fmi.pk.edu.pl"] {
	background-image: url(../images/fmi_logo.png);
}

section.sidebar a[href^="mailto:"] {
	background-image: url(../images/mail_logo.png);
}

section.sidebar #panel {
	width: 100%; 
	font: 11px "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
	padding-left: 32px;
}

section.sidebar label {
	display: block;
	color: #9c9c9c;
	font-size: 13px;
	text-indent: 0px;
}

section.sidebar #username, #password {
	color: gray;
	display: block;
	padding: 0xp;
	width: 160px; 
	border: 2px solid #ececec;
	font-size: 12px;
	text-indent: 5px;
	transition-duration: 1s;
	-webkit-transition-duration:1s;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	cursor: text;
}
section.sidebar #username:focus, #password:focus {
	border: 2px solid #9c9c9c;
}
section.sidebar #panel_lower {
	width: 140px;
	padding-left: 20px;
	margin-top: 20px;
}

section.sidebar .check {
	display: inline;
	float: none;
	font-size: 10px;
}

section.sidebar  input[type="submit"] {
	color: gray;
	margin-bottom: 5px;
	width: 60px;
	height: 24px;
	font-weight: bold;
	font-size: 11px;
	display: block;
	background: #ededed;
	position: relative;
	border: solid 1px #ccc;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
}

form {
margin: 0;
}